---
layout: base.njk
title: "Good Faith Estimate"
description: "Your right to a Good Faith Estimate under the No Surprises Act."
permalink: /good-faith-estimate/
---
<div class="hero">
  <h1>Good Faith Estimate</h1>
</div>

<section class="block">
  <h4>Good Faith Estimate Healthcare Items and Services &mdash; Under the No Surprises Act</h4>
  <p>You have the right to receive a "Good Faith Estimate" explaining how much your health care will cost.</p>
  <p>Under the law, health care providers need to give patients who don't have certain types of health care coverage or who are not using certain types of health care coverage an estimate of their bill for health care items and services before those items or services are provided.</p>
  <ul>
    <li>You have the right to receive a Good Faith Estimate for the total expected cost of any health care items or services upon request or when scheduling such items or services. This includes related costs like medical tests, prescription drugs, equipment, and hospital fees.</li>
    <li>If you schedule a health care item or service at least 3 business days in advance, make sure your health care provider or facility gives you a Good Faith Estimate in writing within 1 business day after scheduling. If you schedule a health care item or service at least 10 business days in advance, make sure your health care provider or facility gives you a Good Faith Estimate in writing within 3 business days after scheduling. You can also ask any health care provider or facility for a Good Faith Estimate before you schedule an item or service. If you do, make sure the healthcare provider or facility gives you a Good Faith Estimate in writing within 3 business days after you ask.</li>
    <li>If you receive a bill that is at least $400 more for any provider or facility than your Good Faith Estimate from that provider or facility, you can dispute the bill.</li>
  </ul>
  <p>Make sure to save a copy or picture of your Good Faith Estimate and the bill.</p>
  <p>For questions or more information about your right to a Good Faith Estimate, visit <a href="https://www.cms.gov/nosurprises/consumers" target="_blank" rel="noopener">www.cms.gov/nosurprises/consumers</a>, email <a href="mailto:FederalPPDRQuestions@cms.hhs.gov">FederalPPDRQuestions@cms.hhs.gov</a>, or call 1-800-985-3059.</p>
</section>
